<div class="runFctComponent">
    <div class="terms-box">
        <textarea [(ngModel)]="leftTerm" (change)="changeLeftItem(leftTerm)" (keypress)="onLeftTermChange()" placeholder="Left Term"
            id="leftTerm-{{newlastItem[newlastItem.length-1]}}" rows="1"></textarea>
        <textarea [(ngModel)]="rightTerm" (change)=changeRightItem(rightTerm) (keypress)="onRightTermChange()" placeholder="Right Term"
            id="rightTerm-{{newlastItem[newlastItem.length-1]}}" rows="1"></textarea>
    </div>
    <div class="error-container" *ngIf="leftTermError==1">
        <span class="term-error">
            Left Term can not be empty!
        </span>
    </div>
    <div class="error-container" *ngIf="rightTermError==1">
        <span class="term-error">
            Right Term can not be empty!
        </span>
    </div>
    <div class="buttons-box">
        <button (click)="getProve( txt, system, leftTerm, rightTerm, 'der', 'true')" class="btn exec-btn">Der</button>
        <button (click)="getProve( txt, system, leftTerm, rightTerm, 'subs', 'true')" class="btn exec-btn">Subs</button>
        <button (click)="getProve( txt, system, leftTerm, rightTerm, 'axiom', 'true')" class="btn exec-btn">Axiom</button>
        <button *ngFor="let circ of circExec" class="btn exec-btn circ-btn" id="{{circ.btnId}}" (click)="getCirc(txt, system, leftTerm, rightTerm, circ.btnId, 'true')">
            {{circ.button}}
        </button>
    </div>

    <tree-root *ngIf="nodes" id="tree" [nodes]="nodes" [options]="options" [focused]="false" style="float:left; overflow-x:auto; margin-top:5px;width: 100%;">
        <ng-template #treeNodeTemplate let-node let-index="index">
            <span [class]="node.data.id" [class.title]="true">{{ node.data.leftTerm }}</span>
            <span>=></span>
            <span [class]="node.data.id" [class.title]="true">{{ node.data.rightTerm }}</span>
            <div class="buttons-box" *ngIf="!node.data.wasRun">
                <button (click)="getProve( txt, system, node.data.leftTerm, node.data.rightTerm, 'der', 'false')" class="btn exec-btn">Der</button>
                <button (click)="getProve( txt, system, node.data.leftTerm, node.data.rightTerm, 'subs', 'false')" class="btn exec-btn">Subs</button>
                <button (click)="getProve( txt, system, node.data.leftTerm, node.data.rightTerm, 'axiom', 'false')" class="btn exec-btn">Axiom</button>
                <button *ngFor="let circ of circExec" class="btn exec-btn circ-btn" id="{{circ.btnId}}" (click)="getCirc(txt, system, node.data.leftTerm, node.data.rightTerm, circ.btnId, 'false')">
                    {{circ.button}}
                </button>
            </div>
        </ng-template>
    </tree-root>
</div>