<div class="runFctComponent" style="float:left;width:100%; margin-bottom:20px;">
    <div style="margin-bottom:15px; width:100%; display: inline-block">
        <textarea [(ngModel)]="leftTerm" (change)="changeLeftItem(leftTerm)" placeholder="Left Term"
            id="leftTerm-{{newlastItem[newlastItem.length-1]}}" style="width:47%; display:inline-block;margin-bottom:-9px;" rows="1"></textarea>
        <textarea [(ngModel)]="rightTerm" (change)=changeRightItem(rightTerm) placeholder="Right Term" id="rightTerm-{{newlastItem[newlastItem.length-1]}}"
            style="width:47%; display:inline-block;margin-bottom:-9px;" rows="1"></textarea>
    </div>
    <div style="margin-bottom:15px; width:50%;">
        <button (click)="getProve( txt, system, leftTerm, rightTerm, 'der', 'true')" class="btn" style="width:18%; padding:3px; margin-bottom:13px; display:inline-block;">Der</button>
        <button (click)="getProve( txt, system, leftTerm, rightTerm, 'subs', 'true')" class="btn" style="width:18%; padding:3px; margin-bottom:13px; display:inline-block;">Subs</button>
        <button (click)="getProve( txt, system, leftTerm, rightTerm, 'axiom', 'true')" class="btn" style="width:18%; padding:3px; margin-bottom:13px; display:inline-block;">Axiom</button>
        <div style="width: 100%;">
            <div *ngFor="let circ of circExec" style=" padding:3px; margin-bottom:13px; box-sizing:border-box; display:inline-block;">
                <button class="btn" id="{{circ.btnId}}" (click)="getCirc(txt, system, leftTerm, rightTerm, circ.btnId, 'true')" style=" padding:3px; margin-bottom:13px; display:inline-block;">
                    {{circ.button}}
                </button>
            </div>
        </div>
    </div>

    <tree-root *ngIf="nodes" id="tree" [nodes]="nodes" [options]="options" [focused]="false" style="float:left; overflow-x:auto; margin-top:5px;width: 100%;">
        <ng-template #treeNodeTemplate let-node let-index="index">
            <span [class]="node.data.id" [class.title]="true">{{ node.data.leftTerm }}</span>
            <span>=></span>
            <span [class]="node.data.id" [class.title]="true">{{ node.data.rightTerm }}</span>
            <div style="margin-bottom:15px; width:50%;" *ngIf="!node.data.wasRun">
                <button (click)="getProve( txt, system, node.data.leftTerm, node.data.rightTerm, 'der', 'false')" class="btn" style="width:18%; padding:3px; margin-bottom:13px; display:inline-block;">Der</button>
                <button (click)="getProve( txt, system, node.data.leftTerm, node.data.rightTerm, 'subs', 'false')" class="btn" style="width:18%; padding:3px; margin-bottom:13px; display:inline-block;">Subs</button>
                <button (click)="getProve( txt, system, node.data.leftTerm, node.data.rightTerm, 'axiom', 'false')" class="btn" style="width:18%; padding:3px; margin-bottom:13px; display:inline-block;">Axiom</button>
                <div style="width: 100%;">
                    <div *ngFor="let circ of circExec" style=" padding:3px; margin-bottom:13px; box-sizing:border-box; display:inline-block;">
                        <button class="btn" id="{{circ.btnId}}" (click)="getCirc(txt, system, node.data.leftTerm, node.data.rightTerm, circ.btnId, 'false')" style=" padding:3px; margin-bottom:13px; display:inline-block;">
                            {{circ.button}}
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </tree-root>

</div>