/* You can add global styles to this file, and also import other style files */

@import '~angular-tree-component/dist/angular-tree-component.css';
*{
    box-sizing: border-box!important;
}
.runFctComponent .node-content-wrapper,.runFctComponent .node-content-wrapper:hover {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 2px;
    transition: background-color .15s,box-shadow .15s;
    width: 100%;
}
.runFctComponent .node-content-wrapper-active,.runFctComponent .node-content-wrapper.node-content-wrapper-active:hover,.runFctComponent .node-content-wrapper-active.node-content-wrapper-focused{
    width: 100%!important;
    background: transparent!important;
    border:none!important;
}
.runFctComponent .node-content-wrapper-focused {
    background:transparent!important;
}

.angular-tree-component {
    width: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    word-break: break-all;
    word-wrap: break-word;
}