<div class="custom-container">
  <div class="show-tabs">
    <button (click)="showFiles()" class="tab-btn examples-btn">
      Examples</button>
    <button (click)="showExecution()" class="tab-btn model-btn">
      <span *ngIf="showModel==1">
        Show Execution
      </span>
      <span *ngIf="showModel==0">
        Hide Execution
      </span>
    </button>
  </div>
  <div class="run-container">
    <div class="show-container">
      <div *ngIf="isShow==1" class="collaps-vert-menu left-side">
        <ul class="ex-list">
          <li *ngFor="let file of scriptFiles" (click)="getExample(file)">{{file}}</li>
        </ul>
      </div>
      <div *ngIf="showModel==0" class="collaps-vert-menu right-side">
        <div class="box textarea-box">
          <textarea [(ngModel)]="textareamodel" name="Custom Code" id="customCode"></textarea>
        </div>
        <div class="box system-box">
          <input [(ngModel)]="system" class="pull-left system-input" (keypress)="onSystemChange()" placeholder="System Term" name="Custom Code"
            id="system">
          <button (click)="addComponent(system)" class="btn btn-primary pull-right add-circ-btn">Add Circularity</button>
        </div>
        <div class="error-container" *ngIf="systemError==1">
          <span class="term-error" >
            System Term can not be empty!
          </span>
        </div>
      </div>
    </div>
    <div class="circs-container" *ngIf="showCirc==1">
      <div class="circ-content" *ngFor="let comp of circExec">
        <div class="delete-box">
          <button (click)="removeComponent(comp)" class="btn btn-primary pull-left">Delete</button>
        </div>
        <div class="tree-box">
          <app-childComp (sendLeftItem)='getLeftItem($event)' (sendRightItem)='getRightItem($event)' (sendSystemError)='getSystemError($event)'
            [rightTermsList]='rightTermsList' [leftTermsList]='leftTermsList' [selectedMenu]='selectedMenu' [currentItem]="currentItem"
            [txt]="textareamodel" [system]="system" [circExec]="circExec"></app-childComp>
        </div>
      </div>
    </div>
  </div>
</div>