<div class="custom-container">
  <div class="show-tabs">
    <button (click)="showFiles()" class="tab-btn examples-btn">
      Examples</button>
    <button (click)="showExecution()" class="tab-btn model-btn">
      <span *ngIf="showModel==1">
        Show Execution
      </span>
      <span *ngIf="showModel==0">
        Hide Execution
      </span>
    </button>
  </div>
  <div class="run-container">
    <div class="show-container">
      <div *ngIf="isShow==1" class="collaps-vert-menu left-side">
        <ul class="ex-list">
          <li *ngFor="let file of scriptFiles" (click)="getExample(file)">{{file}}</li>
        </ul>
      </div>
      <div *ngIf="showModel==0" class="collaps-vert-menu right-side">
        <div class="box textarea-box">
          <textarea [(ngModel)]="textareamodel" name="Custom Code" id="customCode"></textarea>
        </div>
        <div class="box system-box">
          <div class="pull-left input-terms-box">
            <input [(ngModel)]="t1" pattern="\d+" (keypress)="onMinChange()" placeholder="Min" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
              type="text" class="interval-input" />
            <input [(ngModel)]="t2" min="{{t1}}" (keypress)="onMaxChange()" placeholder="Max" pattern="\d+" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
              type="text" class="interval-input" />
            <input [(ngModel)]="t3" type="text" (keypress)="onSystemChange()" placeholder="System Term" class="system-input" />
          </div>
          <div class="pull-right exec-terms-box">
            <textarea class="search-term pull-left" (keypress)="onTermChange()" [(ngModel)]="loopParam" placeholder="Term" rows="1"></textarea>
            <button (click)="getParamFct(loopParam, textareamodel, t1, t2, t3, 'true')" class="btn btn-primary pull-right run-btn">Run</button>
          </div>
        </div>
        <div class="error-container" *ngIf="minError==1">
          <span class="term-error">
            Min Term can not be empty!
          </span>
        </div>
        <div class="error-container" *ngIf="maxError==1">
          <span class="term-error">
            Max Term can not be empty!
          </span>
        </div>
        <div class="error-container" *ngIf="systemError==1">
          <span class="term-error">
            System Term can not be empty!
          </span>
        </div>
        <div class="error-container" *ngIf="termError==1">
          <span class="term-error">
            Execution Term can not be empty!
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="loop-tree">
    <tree-root *ngIf="nodes" id="tree" [nodes]="nodes" [options]="options" [focused]="false" style="float:left; overflow-x:auto; margin-top:30px;">
      <ng-template #treeNodeTemplate let-node let-index="index">
        <span [class]="node.data.className" [class.title]="true" (click)="getParamFct(node.data.name,textareamodel, t1, t2, t3, 'false')">{{ node.data.name}}
          <button *ngIf="!node.data.wasRun" (click)="getParamFct(node.data.name,textareamodel, t1, t2, t3, 'false')" class="btn btn-default btn-sm pull-right">
            <fa name="angle-right"></fa>
          </button>
          <button *ngIf="node.data.wasRun" type="button" disabled class="btn btn-default btn-sm pull-right">
            <fa *ngIf="node.data.wasRun && node.data.hasChild" name="check"></fa>
            <fa *ngIf="node.data.wasRun && !node.data.hasChild" name="ban"></fa>
          </button>
        </span>
      </ng-template>
    </tree-root>
  </div>

</div>